{% extends "base.html" %}

{% block content %}
    {% block div_objects %}
        <div id="folder_tree" style="position:absolute; left:10px; top:75px; width:300px; height:400px;"></div>
        <div id="photo_card" style="position:absolute;"></div>
    {% endblock %}

    <script type="text/javascript">
        var photo_list = {{ photo_list | safe }};
        var tree_structure = {{ structure | safe }};
        var tmp;

        var this_image = Object.keys(tree_structure)[0];
        var tree_root = this_image;
        var this_root = this_image;

        var menu_text = [tree_root];
        menu_text.push.apply(menu_text, Object.keys(tree_structure[tree_root]));
        var tree_canvas;
        var tree_labels = [];
        var tree_labels_text = [tree_root];
        for (i=1; i<menu_text.length; i++) {
            tree_labels_text.push(menu_text[i]);
            tmp = Object.keys(tree_structure[tree_root][menu_text[i]]);
            for (j=0; j<tmp.length; j++) {
                tree_labels_text.push(tmp[j]);
            }
        }

        function drawCard () {
            var card_handle = document.getElementById('photo_card');
            var width = d3.max([window.innerWidth - 550, 474]),
                height = d3.max([window.innerHeight - 90, 450]);
            card_handle.style.top = 40;
            card_handle.style.height = height;

            card_handle.style.width = width;
            card_handle.style.left = 400;

            d3.select("#photo_card").selectAll("svg").attr("width", width).attr("height", height);
            d3.select("#photo_card").selectAll("svg").selectAll("rect").attr("width", width).attr("height", height);
        };

        function drawArrows (leftState, rightState, upState, downState) {
            if (leftState == 1 && this_image != this_root) { 
                document.getElementById("left_arrow").style.display = "block";
            } else {
                document.getElementById("left_arrow").style.display = "none";
            }

            if (rightState == 1 && menu_text.indexOf(this_image) != menu_text.length - 1) { 
                document.getElementById("right_arrow").style.display = "block";
            } else {
                document.getElementById("right_arrow").style.display = "none";
            }

            if (upState == 1 && this_root != tree_root) { 
                document.getElementById("up_arrow").style.display = "block";
            } else {
                document.getElementById("up_arrow").style.display = "none";
            }

            if (downState == 1 && this_root == tree_root && this_image != tree_root) {
                document.getElementById("down_arrow").style.display = "block";
            } else {
                document.getElementById("down_arrow").style.display = "none";
            }
        };

        function advanceCursor() {
            if (menu_text.indexOf(this_image) != menu_text.length - 1) {
                this_image = menu_text[d3.min([menu_text.indexOf(this_image) + 1, menu_text.length-1])];
                drawTree();
                drawArrows(1, 0, 1, 1);
            }
        };

        function retreatCursor() {
            if (this_image != this_root) {
                this_image = menu_text[d3.max([menu_text.indexOf(this_image) - 1, 0])];
                drawTree();
                drawArrows(0, 1, 1, 1);
            }
        };

        function listDown() {
            if (this_root == tree_root && this_image != tree_root) {
                this_root = this_image;
                menu_text = [this_root];
                menu_text.push.apply(menu_text, Object.keys(tree_structure[tree_root][this_root]));
                drawTree();
                drawArrows(1,1,1,0);
            }
        };

        function listUp() {
            if (this_root != tree_root) {
                menu_text = [tree_root];
                menu_text.push.apply(menu_text, Object.keys(tree_structure[tree_root]));
                this_image = this_root;
                this_root = tree_root;
                drawTree();
                drawArrows(1, 1, 0, 1);
            }
        };

        window.focus();
        d3.select(window).on("keydown", function() {
          switch (d3.event.keyCode) {
            case 37: retreatCursor();
                     break;
            case 39: advanceCursor();
                     break;
            case 38: listUp();
                     break;
            case 40: listDown();
                     break;
          }
        });


        window.onkeyup = function () { drawArrows(1,1,1,1); };
        window.onmouseup = function () { drawArrows(1,1,1,1); };

        function drawTree () {
            tree_canvas.selectAll("text")
                       .transition()
                       .attr("x", function(d) {
                                                  if (menu_text.indexOf(d) == 0) { return 35; }
                                                  else if (menu_text.indexOf(d) == -1) { return -10; }
                                                  else { return 50; }
                                              })
                       .attr("y", function(d) {
                                                  if (menu_text.indexOf(d) == 0) { return 15; }
                                                  else if (menu_text.indexOf(d) == -1) { return -10; }
                                                  else { return 20 + 20*menu_text.indexOf(d); }
                                              })
                       .attr("font-size", function(d) {
                                                          if (menu_text.indexOf(d) == 0) { return 18; }
                                                          else { return 14; }
                                                      })
                       .attr("fill", function(d) {
                                                     if (d == this_image) { return "#71ced8"; }
                                                     else { return "#edfdfe"; }
                                                 })
                       ;

        };

        {% block onload %}
            tree_labels = []
            d3.select("#folder_tree").selectAll("svg").remove()
            tree_canvas = d3.select("#folder_tree").append("svg").attr("width", 300).attr("height", 400);
            tree_labels = tree_canvas.selectAll("text")
                                     .data(tree_labels_text)
                                     .enter()
                                     .append("text")
                                             .text(function (d) {return d;})
                                             .attr("fill", "#edfdfe")
                                             .attr("font-family", "Tahoma")
                                             .attr("font-size", 14)
                                             .attr("x", 0)
                                             .attr("y", -10)
                                             .on("mousedown", function (d) {
                                                                           this_image = d;
                                                                           if (d == this_root && tree_root != this_root) {
                                                                               this_root = tree_root;
                                                                               menu_text = [tree_root];
                                                                               menu_text.push.apply(menu_text, Object.keys(tree_structure[tree_root]));
                                                                               drawTree();
                                                                           }
                                                                           else if (d != this_root && tree_root == this_root) {
                                                                               this_root = d;
                                                                               menu_text = [this_root];
                                                                               menu_text.push.apply(menu_text, Object.keys(tree_structure[tree_root][this_root]));
                                                                               drawTree();
                                                                           } else {
                                                                               drawTree();
                                                                           }
                                                                       })
            ;
            tree_labels = tree_labels[0];

            drawTree(menu_text, tree_root);

            drawArrows(1,1,1,1);

            d3.select("#photo_card").selectAll("svg").remove()
            var card_canvas = d3.select("#photo_card").append("svg");

            card_canvas.append("rect")
                       .attr("x", 0)
                       .attr("y", 0)
                       .attr("fill", "#edfdfe")
            ;
            drawCard();

            d3.select("#left_arrow").on("mousedown", function () { retreatCursor(); })
            d3.select("#right_arrow").on("mousedown", function () { advanceCursor(); });
            d3.select("#up_arrow").on("mousedown", function () { listUp(); });
            d3.select("#down_arrow").on("mousedown", function () { listDown(); });

        {% endblock %}

        {% block onresize %}
            drawCard();
        {% endblock %}

    </script>

{% endblock %}

{% block footer %}
    <div id="left_arrow" style="position:absolute; left:50px; bottom:20px; width:62px; height:58px; display:none;">
        <img src="http://dl.dropbox.com/u/95202067/back.png">
    </div>
    <div id="right_arrow" style="position:absolute; left:260px; bottom:20px; width:62px; height:58px; display:none;">
        <img src="http://dl.dropbox.com/u/95202067/forward.png">
    </div>
    <div id="up_arrow" style="position:absolute; left:155px; bottom:20px; width:62px; height:58px; display:none;">
        <img src="http://dl.dropbox.com/u/95202067/up.png">
    </div>
    <div id="down_arrow" style="position:absolute; left:155px; bottom:20px; width:62px; height:58px; display:none;">
        <img src="http://dl.dropbox.com/u/95202067/down.png">
    </div>
{% endblock %}

